__pycache__
.bash_history
*.swp
.viminfo
/.cache/
/.config/
.local
uploads/
/test_files/
.env
.idea/
.fleet/
.vscode/
.~lock.*#
.python_history
exports/
/config*
/lotemplate/unittest/files/content/*.unittest.txt
/lotemplate/unittest/files/content/*.unittest.odt
/lotemplate/unittest/files/content/debug.docx
/lotemplate/unittest/files/content/debug.odt
/lotemplate/unittest/files/content/debug.json
/lotemplate/unittest/files/content/*.unittest.odt
/lotemplate/unittest/files/content/*.unittest.pdf
/venv
/output*.*
.fontconfig/
docker-compose.override.yml
/tmpfile
